{% extends 'base.html' %}
{% block title %}Hadlines{% endblock title %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
	{% for news in news_list %}
	<a href="{% url 'news:news_details' news.id %}">
		<div class="col">
		  <div class="card">
			<img src="{{ news.image }}" class="card-img-top" alt="{{ news.title }}">
		    <div class="card-body">
		    	<h5 class="card-title">{{ news.title }}</h5>
		    </div>
		  </div>
		</div>
	</a>
	{% empty %}
	<p>No news here</p>
	{% endfor %}
</div>
{% endblock content %}